@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

* {
    font-family: 'Montserrat', sans-serif;

}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cinzel-400 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}


@media (max-width: 640px) {
    .active {
        background-color: black;
        color: white;
    }
}